<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="wrapper-sign-up">
         <h2 class="text-center">Edit Profile</h2>
         <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, required: true, autofocus: true %>
              <%= f.input :last_name, required: true %>
              <%= f.input :city, required: true,collection: User.cities.keys, prompt: "choose a city?"%>
              <%= f.input :email, required: true ,placeholder:"my-email@example.com"%>
              <%= f.input :contact_info, required: true,placeholder:"phone/whatsapp: 0799999999" %>
              <%= f.input :description,placeholder:"i'm available only form 4pm to 9pm, please contact me within those times."  %>
              <%= f.input :delivery %>
              <%= f.input :delivery_discription ,placeholder:"i deliver to amman for free, other cities for 3jds.",label:"Delivery description" %>
              <%= f.input :photo,label: "Profile picture"%>
              <%= f.input :photo_cache, as: :hidden %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class:"sign-up-btn" %>
          </div>
        <% end %>
    </div>

    <div class="delete-acc">
          <h3 class="text-center"><%= "Cancel my account" %></h3>

          <p class="text-center"><%= "Unhappy?" %> <%= link_to "Delete account", registration_path(resource_name), class: "cancel_button" , data: { confirm: "Are you sure" }, method: :delete %></p>
        </div>
  </div>
</div>
</div>

