<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="wrapper-sign-up">
        <h2 class="text-center">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name, required: true, autofocus: true %>
              <%= f.input :last_name, required: true %>
              <%= f.input :city, required: true,collection: User.cities.keys, prompt: "choose a city?"%>
              <%= f.input :email, required: true ,placeholder:"my-email@example.com"%>
              <%= f.input :contact_info, required: true,placeholder:"phone/whatsapp: 0799999999" %>
              <%= f.input :description,placeholder:"i'm available only form 4pm to 9pm, please contact me within those times."  %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>


              <%= f.input :password_confirmation, required: true %>
              <%= f.input :delivery %>
              <%= f.input :delivery_discription ,placeholder:"i deliver to amman for free, other cities for 3jds.",label:"Delivery description" %>
              <%= f.input :photo, label:"Profile picture" %>
              <%= f.input :photo_cache, as: :hidden %>
            </div>


             <div class="form-actions">
              <%= f.button :submit, "Sign up", class:"sign-up-btn"%>
            </div>

            <div class="or-line-login">
              <span>
                or
              </span>
            </div>
            <%= link_to "Log in", new_session_path(resource_name), class:'btn sign-up-btn' %>
          <% end %>


      </div>
    </div>
  </div>
</div>




