<% content_for :meta_title do %>
  VaporSooq - <%= @user.first_name.downcase.capitalize %> <%= @user.last_name.downcase.capitalize %>
<% end %>
<!-- DESKTOP -->
<div class="show-wrapper hidden-xs hidden-sm">
  <div class="bio-wrapper">
    <% if @user == current_user %>
      <div class="text-right post-edit">
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
    <% end %>
    <div class="bio-image text-center">
      <% if @user.photo.present? %>
        <%= cl_image_tag(@user.photo, :quality=>71,:width=>1000, :height=>1000, :crop=>"scale") %>
      <% else %>
        <%= image_tag "user.png" %>
      <% end %>
    </div>
    <div class="bio-name text-center">
      <h4><%= @user.first_name.downcase.capitalize %> <%= @user.last_name.downcase.capitalize %> </h4>
    </div>
    <table class="bio-table">
      <tr>
        <td><i class="fa fa-home" aria-hidden="true"></td>
        <td><h5><div><%= @user.city %></div></h5></td>
      </tr>
      <tr>
        <td><i class="fa fa-phone" aria-hidden="true"></i></td>
        <td><h5><div><%= @user.contact_info %></div></h5></td>
      </tr>
      <% if @user.description.present? %>
        <tr>
          <td><i class="fa fa-briefcase" aria-hidden="true"></i></i></td>
          <td><h5><div><%= @user.description %></div></h5></td>
        </tr>
      <% end %>
      <% if @user.delivery == true %>
        <tr>
          <td><i class="fa fa-check-circle" style="color: #00bfa5;" aria-hidden="true"></i></td>
          <td><h5>delivery available</h5></td>
        </tr>
      <% end %>
      <% if @user.delivery == true && @user.delivery_discription.present? %>
        <tr>
          <td><i class="fa fa-truck" aria-hidden="true"></i></td>
          <td><h5><%= @user.delivery_discription %></h5></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="moving-wrapper">
      <% if @items.count.zero? %>
        <div class="no-items text-center">
          <small><h1>No Items For Sale Here! Yet!</h1></small>
          <h1><i class="far fa-smile"></i></h1>
        </div>
      <% else %>
        <% @items.each do |item| %>
            <div class="post-wrapper" style="cursor: pointer;" onclick="window.location='<%= user_item_path(params[:id],item) %>';">
                <h4><small><%= item.title %></small></h4>

                <%= cl_image_tag item.photo, class: "items-photo" %>

                <h5 class="post-time"><small><%= item.created_at.strftime("%Y / %m / %e , %l:%M %p ") %></small></h5>

                <% if @user == current_user %>
                  <%= link_to edit_user_item_path(current_user,item),class: "post-edit" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>
            </div>
        <% end %>
      <% end %>
  </div>

 </div>

<!-- MOBILE -->
<div class="container ">
  <div class="mobile-wrapper hidden-md hidden-lg">
    <div class="row">
      <div class="col-xs-12">
        <div class="mobile-bio-wrapper">
          <% if @user == current_user %>
            <div class="text-right mobile-edit">
              <%= link_to edit_user_registration_path do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </div>
          <% end %>
          <div class="text-center">

          <% if @user.photo.present? %>
            <%= cl_image_tag(@user.photo, :quality=>71,:width=>1000, :height=>1000, :crop=>"scale") %>
          <% else %>
            <%= image_tag "user.png" %>
          <% end %>


          <h4><%= @user.first_name.downcase.capitalize %> <%= @user.last_name.downcase.capitalize %></h4>
          </div>
          <table>
            <tr>
              <td><i class="fa fa-home" aria-hidden="true"></td>
              <td><h5><div><%= @user.city %></div></h5></td>
            </tr>
            <tr>
              <td><i class="fa fa-user" aria-hidden="true"></i></td>
              <td><h5><div><%= @user.contact_info %></div></h5></td>
            </tr>
            <% if @user.description.present? %>
              <tr>
                <td><i class="fa fa-briefcase" aria-hidden="true"></i></i></td>
                <td><h5><div><%= @user.description %></div></h5></td>
              </tr>
            <% end %>
            <% if @user.delivery == true %>
              <tr>
                <td><i class="fa fa-check-circle" style="color: #00bfa5;" aria-hidden="true"></i></td>
                <td><h5>delivery available</h5></td>
              </tr>
            <% end %>
            <% if @user.delivery == true && @user.delivery_discription.present? %>
              <tr>
                <td><i class="fa fa-truck" aria-hidden="true"></i></td>
                <td><h5><%= @user.delivery_discription %></h5></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="col-xs-12">
        <% if @items.count.zero? %>
          <div class="no-items-mobile text-center">
            <small><h1>No Items For Sale Here! Yet!</h1></small>
            <h1><i class="far fa-smile"></i></h1>
          </div>
        <% else %>
          <% @items.each do |item| %>
            <div class="post-wrapper-mobile">
              <%= link_to user_item_path(item.user,item) , style:"text-decoration: none;" do %>
                <h4><small><%= item.title %></small></h4>

                <%= cl_image_tag item.photo, class: "items-photo" %>

                <h5 class="post-time"><small><%= item.created_at.strftime("%Y / %m / %e , %l:%M %p ") %></small></h5>
                <% if @user == current_user %>
                  <%= link_to edit_user_item_path(current_user,item),class: "post-edit" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
