
<%= search_form_for @q , url: explore_path , class:"navbar-form navbar-left" do |f| %>

  <%#= f.select :user_city_eq, options_for_select(User.cities.keys) %>
  <%#= f.select :item_type_eq, options_for_select(Item.item_types.keys) %>
  <%#= f.select :condition_eq, options_for_select(Item.conditions.keys) %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="search-wrapper text-center">
        <div class="form-group">
          <!-- <input type="text" class="form-control" placeholder="Search"> -->
        <%= f.search_field :title_cont , placeholder: "e.a revenger x", class:"form-control"%>
        </div>
        <%= f.select :user_city_eq, User.cities.to_a.map { |w| [w[0].humanize, w[1]] },
                                {:prompt => "location"}, class:"btn search-btn" %>
        <%= f.select :item_type_eq, Item.item_types.to_a.map { |w| [w[0].humanize, w[1]] },
                               {:prompt => "Type"}, class:"btn search-btn" %>
        <%= f.select :condition_eq, Item.conditions.to_a.map { |w| [w[0].humanize, w[1]] },
                               {:prompt => "condition"}, class:"btn search-btn" %>
        <%#= f.label :city %>
        <%#= f.search_field :user_city_cont %>

      <%#= sort_link(@q, :user_city, 'Last Name', default_order: :desc) %>
        <%= f.submit value:"search", class:"btn search-btn-2" %>
      </div>

    </div>
  </div>
</div>
<% end %>

<% @items.each do |x| %>
    <h3><%= x.title %></h3>
<% end %>


<% @items.each_with_index do |item, value| %>
  <%= link_to user_item_path(item.user, item) do %>
    <div class="col-md-4 card-show" id="card-holder-<%= value + 1  %>">
      <div class="place-card">
        <div class="card-image">
          <% if item.photo.present? %>
          <%= cl_image_tag item.photo.first.path, :transformation=>[
            {:width=>400, :height=>300, :crop=>"thumb"}], class: "item-avatar" %>
          <% end %>
          <div class="card-info" data-id="<%= value + 1  %>">
            <div class="card-title">
              <h4><%= item.title %></h4>
              <p>Type &nbsp;:&nbsp;<%= item.item_type %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
