<div class="hidden-xs">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 90vh;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides DESKTOP -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag "Vaporsooq.jpg", alt: "SiteBanner" ,style:"height: 90vh;",class:"homeBanner"%>
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <%= image_tag "Vaporsooq(1).jpg", alt: "SiteBanner" ,style:"height: 90vh;",class:"homeBanner"%>
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <%= image_tag "VaporSooq(2).jpg", alt: "SiteBanner" ,style:"height: 90vh;",class:"homeBanner"%>
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <%= image_tag "VaporSooq(3).jpg", alt: "SiteBanner" ,style:"height: 90vh;",class:"homeBanner"%>
        <div class="carousel-caption"></div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="visible-xs">
  <div id="carousel-example-generic-xs" class="carousel slide" data-ride="carousel" style="height: 60%;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic-xs" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic-xs" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic-xs" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic-xs" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides MOBILE -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <%= image_tag "Vaporsooq.jpg", alt: "SiteBanner" ,style:"height: 60%;",class:"homeBanner"%>
      <div class="carousel-caption"></div>
    </div>

    <div class="item">
      <%= image_tag "Vaporsooq(1).jpg", alt: "SiteBanner" ,style:"height: 60%;",class:"homeBanner"%>
      <div class="carousel-caption"></div>
    </div>

    <div class="item">
      <%= image_tag "VaporSooq(2).jpg", alt: "SiteBanner" ,style:"height: 60%;",class:"homeBanner"%>
      <div class="carousel-caption"></div>
    </div>

    <div class="item">
      <%= image_tag "VaporSooq(3).jpg", alt: "SiteBanner" ,style:"height: 60%;",class:"homeBanner"%>
      <div class="carousel-caption"></div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-xs" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-xs" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="container">
  <div class="cards-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="best-sellers text-center">
          <hr>
            <h1><small>Our Best Sellers</small></h1>
          <hr style="margin-bottom: 50px;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>

