<% content_for :meta_title do %>
  VaporSooq - <%= @item.title %>
<% end %>
<!-- DESKTOP -->
<div class="item-wrapper hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div >
          <% if @item.photo.present? %>
            <%= cl_image_tag @item.photo, class:"item-photo", id:"main_img" %>
          <% end %>
        </div>
      </div>

        <div class="col-xs-12 col-md-6">
          <% if @user == current_user %>
            <div class="edit-delete text-right">
              <%= link_to edit_user_item_path(current_user,@item) do %>
                <i class="fas fa-edit" style="color:#3C6FA5;"></i>
              <% end %>
              &nbsp;
              <%= link_to user_item_path(current_user,@item), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt" style="color:#f44336;"></i>
              <% end %>
            </div>
          <% end %>
          <h1 class="item_name text-center"><%= @item.title %></h1>
          <hr>
          <div class="attr">
            <h3 class="item-attr">Type <span class="item-attr-box"><%= @item.item_type %></span> </h3>
            <h3 class="item-attr">Condition <span class="item-attr-box"><%= @item.condition %></span> </h3>
            <h3 class="item-attr">Price <span class="item-attr-box"><%= @item.price %> JD </span></h3>
          </div>
          <hr>

          <!-- tabs-div -->
          <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs my-tabs nav-justified" role="tablist">
              <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">description</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Seller information</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="description"> <p class="font-description text-center"><%= @item.description %></p></div>

              <div role="tabpanel" class="tab-pane fade" id="profile">
                <%= link_to user_path(@item.user) do %>
                  <h4 class="font-seller-name text-center"><%= @item.user.first_name.downcase.capitalize %> <%= @item.user.last_name.downcase.capitalize %> </h4>
                <% end %>
                <table class="item-table ">
                  <tr>
                    <td><i class="fa fa-home" aria-hidden="true"></td>
                    <td><h5><%= @item.user.city %></h5></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-user" aria-hidden="true"></i></td>
                    <td><h5><%= @item.user.contact_info %></h5></td>
                  </tr>
                  <% if @item.user.description.present? %>
                    <tr>
                      <td><i class="fa fa-briefcase" aria-hidden="true"></i></i></td>
                      <td><h5><%= @item.user.description %></h5></td>
                    </tr>
                  <% end %>
                  <% if @item.user.delivery == true %>
                    <tr>
                      <td><i class="fa fa-check-circle" style="color: #00bfa5;" aria-hidden="true"></i>&nbsp;&nbsp;</td>
                      <td><h5>delivery available</h5></td>
                    </tr>
                  <% end %>
                </table>
              </div>

            </div>
          </div> <!-- end of tabs-div -->

        </div>

      </div>
  </div>
</div>


<!-- MOBILE -->

<div class="container hidden-md hidden-lg">
  <div class="row">
    <div class="col-xs-12">
      <% if @user == current_user %>
            <div class="edit-delete text-right " style="margin-top: 30px;">
              <%= link_to edit_user_item_path(current_user,@item) do %>
                <i class="fas fa-edit" style="color:#3C6FA5;"></i>
              <% end %>
              &nbsp;
              <%= link_to user_item_path(current_user,@item), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt" style="color:#f44336;"></i>
              <% end %>
            </div>
          <% end %>
      <% if @item.photo.present? %>
        <%= cl_image_tag @item.photo, class:"item-photo-mobile" %>
      <% end %>

      <h1 class="item_name text-center"><%= @item.title %></h1>
      <hr>
          <div class="attr">
            <h3 class="item-attr">Type<br> <br><span class="item-attr-box"><%= @item.item_type %></span> </h3>
            <h3 class="item-attr">Condition<br> <br><span class="item-attr-box"><%= @item.condition %></span> </h3>
            <h3 class="item-attr">Price <br> <br><span class="item-attr-box"><%= @item.price %> JD </span></h3>
          </div>
          <hr>
    </div>


  </div>

  <div class="row">
    <div class="col-xs-12">

<!-- tabs-div -->
          <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs my-tabs nav-justified mob-tab" role="tablist">
              <li role="presentation" class="active"><a href="#description-mob" aria-controls="description" role="tab" data-toggle="tab">description</a></li>
              <li role="presentation"><a href="#profile-mob" aria-controls="profile" role="tab" data-toggle="tab">information</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="description-mob"> <p class="font-description text-center"><%= @item.description %></p></div>

              <div role="tabpanel" class="tab-pane fade" id="profile-mob">
                <%= link_to user_path(@item.user) do %>
                  <h4 class="font-seller-name text-center"><%= @item.user.first_name.downcase.capitalize %> <%= @item.user.last_name.downcase.capitalize %> </h4>
                <% end %>
                <table class="item-table ">
                  <tr>
                    <td><i class="fa fa-home" aria-hidden="true"></td>
                    <td><h5><%= @item.user.city %></h5></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-user" aria-hidden="true"></i></td>
                    <td><h5><%= @item.user.contact_info %></h5></td>
                  </tr>
                  <% if @item.user.description.present? %>
                    <tr>
                      <td><i class="fa fa-briefcase" aria-hidden="true"></i></i></td>
                      <td><h5><%= @item.user.description %></h5></td>
                    </tr>
                  <% end %>
                  <% if @item.user.delivery == true %>
                    <tr>
                      <td><i class="fa fa-check-circle" style="color: #00bfa5;" aria-hidden="true"></i>&nbsp;&nbsp;</td>
                      <td><h5>delivery available</h5></td>
                    </tr>
                  <% end %>
                </table>
              </div>

            </div>
          </div> <!-- end of tabs-div -->


    </div>
  </div>
</div>
